body {
  background: white;
  font-family: "Roboto", sans-serif;
}

a {
  color: #6a7f60;
}

a:hover {
  color: #d67d3e;
}

.weather-app {
  background: #e4c9a8;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(214, 125, 62, 0.4);
}

header {
  color: #d67d3e;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: #585563;
  font-size: 16px;
  padding: 20px;
  width: 80%;
  line-height: 1;
  border-radius: 5px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #e8a800;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #d67d3e;
  color: white;
}

main {
  padding: 30px 0;
  color: #585563;
}

.current-temperature {
  font-size: 48px;
  color: #585563;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: #585563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #d67d3e;
}

.humidity {
  font-weight: bold;
  color: #d67d3e;
}

.wind {
  font-weight: bold;
  color: #d67d3e;
}

.current-temperature-icon {
  position: relative;
  top: 8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

.weather-forecast {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-weight: bold;
}

.weather-forecast-icon {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #d67d3e;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-max-temperature {
  font-weight: bold;
  padding: 0 10px;
  display: inline;
}

.weather-forecast-min-temperature {
  display: inline;
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: #585563;
}
